ul {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    list-style: none;
    border: 1px solid gray;
    border-radius: 8px;
}

.item {
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    /* margin: 10px; */
    border-radius: 8px;
    background-color: aquamarine;
}

.grabbing {
    cursor: grabbing;
}

.move_up {
    transform: translate(0, -41px);
    transition: transform 200ms ease 0s;
}

.move_down {
    transform: translate(0, 41px);
    transition: transform 200ms ease 0s;
}
