.title {
    height: 20px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.title > :nth-child(1) {
    grid-column: 2/3;
}

.title > :nth-child(2) {
    width: 20px;
    height: 20px;
    justify-self: flex-end;
    cursor: pointer;
    border-radius: 6px;
}

.title > :nth-child(2):hover {
    color: white;
    background-color: gray;
    opacity: 0.4;
}

.list {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    list-style: none;
    border: 1px solid gray;
    border-radius: 8px;
    padding: 10px 20px;
}

.item {
    width: 100%;
    height: 50px;
    text-align: center;
    cursor: pointer;
    border-radius: 8px;
    border: 1px solid gray;
    margin: 10px 0;
    display: grid;
    grid-template-columns: 30px auto;
}
